<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         <link href="/public/build/css/bootstrap.css" rel="stylesheet"/>
            <script src="/public/build/js/jquery.js"></script>
            <script src="/public/build/js/bootstrap.js"></script>
            {# sweet alert 2#}
            {# scripts persos#}
        {% block stylesheets %}{% endblock %}
       
       
    </head>
    <body>
        {% include "menu.html.twig" %}
        <div id="container" style="margin: 50px;">
            {% block body %}    
            {% endblock %}
        </div>
         
            {% block javascripts %}{% endblock %}
        
    </body>
</html>
