{% extends "base.html.twig" %}
    {% block body %}
        <div class="form-control">
        {{ form(form)}}
        </div>



        
    <script>
    
        
        //load the relative genres after selecting a of typeitem
       $( "#item_typeitem" ).change(function() {
        alert('zqdzd');
        });

        
    
    
        </script>
    {% endblock %}