{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-stripped table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">name</th>
                <th>author</th>
                <th>Supprimer</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="{{ path('typeItem_delete', { 'id': 0 }) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </a>
                </td>
            </tr>
        </tbody>
       
    </table>
    <a href='{{path("typeItem_new")}}'> new</a>
{% endblock %}
